<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Displaying Webpage Details</h1>
        <table border="2px">
            <tr>
                <th>Topic_name</th>
                <th>Name</th>
                <th>Url</th>
                <th>Email</th>
            </tr>

            {% for wo in webpages %}
                <tr>
                    <td>{{wo.topic_name}}</td>
                    
                    <td>{{wo.name}}</td>
                    
                    <td>{{wo.url}}</td>
                    
                    <td>{{wo.email}}</td>
                </tr>
            {% endfor %}













        </table>
    </center>
</body>
</html>





